<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="pkg_API_CALLs.Login_API_CALL"/>
      	<class name="pkg_API_CALLs.Add_Product_API_CALL"/>
      	<class name="pkg_API_CALLs.Order_PLaced"/>
      	<class name="pkg_API_CALLs.Delete_Order_API_CALL"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
